<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <connectionStrings>
    <add name="connectionDB" connectionString="Server=serverName;Database= databaseName;user id= userId;password=password;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>
